*{
    box-sizing: border-box;
}

nav {
    background-color: #493a3a;
    width: 100%;
    overflow: auto;
}

nav a{
    width:120px;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 10px;
    text-decoration: none;
    background-color: #493a3a;
    font-size: 20px;
}

ul { 
    margin: 0;
    padding: 0;
    list-style-type: none;
}
  
li {
    float: left;  
}
  
li a:hover {
    background-color: green;
}

.image-container{
    margin: auto;
    overflow: auto;
}

.images{
    margin: 20px;
    float: left;
    width: 30%;
    padding-bottom: 150px;
    padding-right: 60px;
}

.images img{
    width: 100%;
    height: auto;
}
